.encabezado-responsive {
    display: none;
}

.encabezado {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: initial;
    padding-right: initial;

    .foto-encabezado {
        display: block;
        object-fit: cover;
        object-position: top;
        max-width: none;
        width: 100vw;
        height: auto;
        max-height: 600px;
    }
    
    .titulo-encabezado {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: initial;
        width: 100%;
        margin: auto;

        h1 {
            text-align: center;
            font-size: calc(15px + 3vw);
            color: $blanco;
            font-weight: 600;
        }
    }
}

@media (max-width: 1024px) {

    .encabezado {
        display: none;
    }

    .encabezado-responsive {
        display: block;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding-left: initial;
        padding-right: initial;
        
        .foto-encabezado {
            display: block;
            object-fit: cover;
            object-position: top;
            max-width: none;
            width: 100vw;
            height: auto;
            max-height: 600px;
        }

        .titulo-encabezado{
            padding-top: 155px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            bottom: initial;
            width: 100%;
            margin: auto;

            h1 {
                margin-bottom: 8rem;
                text-align: center;
                font-size: calc(15px + 3vw);
                color: $blanco;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 576px) {

    main {

        .encabezado-responsive {

            .titulo-encabezado{
                padding-top: 114px;
    
                h1 {
                    margin-bottom: 6.5rem;
                }
            }
        }
    }
}