@import "variables.scss";

.footer-color {
    background-color: $gris-oscuro;

    .footer-organizacion {
        width: 70%;
        margin: 0 15% 0 15%;
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: space-between;

        .contenedor-footer-nav {
            display: flex;
            flex-direction: row;

            .elemento {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 50px;

                .titulo {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: none;
                    color: $blanco;
                    margin: 10px;
                }
                
                .link {

                    a {
                        font-family: 'Poppins', sans-serif;
                        font-size: 13px;
                        font-weight: 300;
                        text-decoration: none;
                        color: $blanco;
                        margin: 10px;
                        transition: $transicion-rapida;

                        &:hover {
                            color: $gris-claro;
                        }
                    }

                    .sub-link {
                        border-left: 1px solid $gris;
                        margin-left: 10px;

                        a {
                            font-family: 'Poppins', sans-serif;
                            font-size: 12px;
                            font-weight: 300;
                            text-decoration: none;
                            color: $blanco;
                            transition: $transicion-rapida;

                            &::before {
                                content: '>';
                                margin-right: 5px;
                            }

                            &:hover {
                                color: $gris-claro;
                            }
                        }
                    }
                }
            }
        }
                
        .contenedor-redes {
            display: flex;
            flex-direction: column;

            .titulo-redes {
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                color: $blanco;
            }

            .contenedor-iconos-redes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .iconos-redes {
                    display: inline-block;
                    margin-top: 10px;

                    i {
                        font-size: 35px;
                        text-decoration: none;
                        color: $blanco;
                        margin-right: 10px;
                        transition: $transicion-rapida;

                        &:hover {
                            color: $naranja;
                        }

                        &:visited {
                            color: $blanco;
                        }
                    }
                }
            }
        }
    }

    .pie {
        background-color: $negro;
        padding: 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .pie-contenedor {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            a {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 10px;
                color: $gris;
                margin-right: 10px;
                text-align: center;
                text-decoration: underline solid 1px rgba(128, 128, 128, 0);
                transition: $transicion-rapida;

                &:hover {
                    text-decoration: underline solid 1px rgba(128, 128, 128, 1);
                    color: $gris;
                }
            }
        }
    }
    
    .pie-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .pie-contenedor a {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: $gris;
        margin-right: 10px;
        text-align: center;
        text-decoration: underline solid 1px rgba(128, 128, 128, 0);
        transition: $transicion-rapida;
    }
    
    .pie-contenedor a:hover {
        text-decoration: underline solid 1px rgba(128, 128, 128, 1);
        color: $gris;
    }
    
    .copyright {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        display: block;
        font-size: 10px;
        text-align: center;
        background-color: $blanco;
        color: $gris;
        padding: 20px 0px;
    }
    
}
    
.footer-rs {
    display: none;
}

@media (max-width: 1024px) {

    .footer-color {
        display: none;
    }

    .footer-rs {
        display: block;
        background-color: $gris-oscuro;

        .footerNav {
            width : 100%; 
            background-color: $gris-claro;
            transition: $transicion-rapida;

            .footerNav-titulo {
                padding : 30px 5% 30px 5%;
                background-color: $gris-oscuro; 
                color : $blanco;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                cursor : pointer;
                display: block;
                margin: 0 auto;
                transition: $transicion-rapida;

                &::after {
                    float: right;
                    right: 10%;
                    content: "+";
                }

                &:hover {
                    background-color: $gris-oscuro-hover;
                }
            }

            .footerNav-titulo-2 {
                padding : 30px 5% 30px 5%;
                color: $gris-oscuro;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                cursor : pointer;
                display: block;
                transition: $transicion-rapida;
        
                &::after {
                    float: right;
                    right: 10%;
                    content: "+";
                }
                
                &:hover {
                    background-color: $blanco; 
                }
            }
            
            .footerNav-item {
                background-color: rgba(231, 231, 231, 0);
                transition: all .2s ease;
        
                &:hover {
                    background-color: $blanco;
                }
        
                a {
                    text-decoration : none;
                    color : $gris-oscuro;
                    transition: all .2s ease;
            
                    &:hover {
                        text-decoration : none;
                        color : #313131;
                    }
        
                    &::after {
                        float: right;
                        right: 10%;
                        content: '>';
                
                        &:hover {
                            color :  $gris-oscuro-hover;
                        }
                    }
                }
            }

            .slide-1, .slide-1b, .slide-2, .slide-3 {
                clear: both;
                width:100%;
                height:0;
                overflow: hidden;
                transition: height .4s ease;
                color: $gris-oscuro;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
        
                .footerNav-item {
                    padding : 30px 5% 30px 5%;
                }
            }
        
            label {
                display: block;
            }
            
            #touch-1, #touch-1b, #touch-2, #touch-3 {
                position: absolute;
                opacity: 0;
                height: 0;
            }
            
            #touch-1:checked + .slide-1 {
                height: 255px;
            }
            
            #touch-1b:checked + .slide-1b {
                height: 170px;
            }
            
            #touch-2:checked + .slide-2 {
                height: 340px;
            }
            
            #touch-3:checked + .slide-3 {
                height: 425px;
            }
        }
    }
    
    #redes-rs {
        padding: 20px 0 20px 0;

        .contenedor-redes-rs {
            display: flex;
            justify-content: space-evenly;
        }

        .iconos-redes-rs {
            display: flex;
            align-items: center;

            i {
                text-decoration: none;
                font-size: 35px;
                color: $blanco;
                transition: $transicion-rapida;

                &:hover {
                    color: $naranja;
                    text-decoration: none;
                }

                &:visited {
                    color: $blanco;
                    text-decoration: none;
                }
            }
        }
    }
    
    .pie-rs {
        background-color: $negro;
        padding: 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .pie-contenedor-rs {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            a {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 10px;
                color: $gris;
                margin-right: 10px;
                text-align: center;
                text-decoration: underline solid 1px rgba(128, 128, 128, 0);
                transition: all .2s ease;

                &:hover {
                    text-decoration: underline solid 1px rgba(128, 128, 128, 1);
                    color: $gris;
                }
            }
        }
    }

    .copyright-rs {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        display: block;
        font-size: 10px;
        text-align: center;
        background-color: $blanco;
        color: $gris;
        padding: 20px 0px;
    }
}