@import "variables.scss";

.padre-qs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a1 a2"
                        "b1 b2"
                        "c1 c2";
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 15% 50px 15%;
    justify-content: center;

    div {

        &:nth-child(1) {
            grid-area: a1;
        }
        
        &:nth-child(2){
            grid-area: a2;
        }
        
        &:nth-child(3){
            grid-area: b1;
        }
        
        &:nth-child(4){
            grid-area: b2;
        }
        
        &:nth-child(5){
            grid-area: c1;
        }
        
        &:nth-child(6){
            grid-area: c2;
        }

    }

    .parrafo-qs {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        h2 {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        p {
            margin: 25px;
            text-align: center;
            font-size: 14px;
        }

        a {
            text-align: center;
            font-size: 12px;
            text-decoration: underline;
            color: $naranja;
        }
    }

    .imagen-qs {
            
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: center;
        }
    }
}

.margin-body {
    margin-right: 15%; 
    margin-left: 15%;
    margin-bottom: 50px;

    .container-fluid {

        .accordion {

            .accordion-item {
                background-color: rgba(255, 255, 255, 0);
                border: 5px solid rgba(0,0,0,0);

                .accordion-header {

                    h2 {
                        @extend .titulo-h2;
                    }
                }
               
                .accordion-button {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
    
                    &:not(.collapsed) {
                        color: $gris-claro;
                        background-color: $naranja;
    
                        &::after {
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
                            color: $blanco;
                        }
                    }
    
                    &:focus {
                        box-shadow: none;
                    }
                }

                .accordion-body {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    main {
        padding-top: 155px;

        .padre-qs {
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "a1" "a2" "b1" "b2" "c1" "c2";
            row-gap: 25px;
    
            div {
    
                &:nth-child(1) {
                    grid-area: a1;
                }
                
                &:nth-child(2){
                    grid-area: a2;
                }
                
                &:nth-child(3){
                    grid-area: b2;
                }
                
                &:nth-child(4){
                    grid-area: b1;
                }
                
                &:nth-child(5){
                    grid-area: c1;
                }
                
                &:nth-child(6){
                    grid-area: c2;
                }
            }       
        }
    }
}

@media (max-width: 576px) {

    main {
        padding-top: 114px;
    }
}