/* COLOR */;

$naranja: #ff9900;;
$naranja-hover-claro: #ffa835;;
$naranja-hover-oscuro: #975b00;;

$blanco: #fff;;
$gris-claro: #eeeeee;;
$gris: #808080;;
$gris-oscuro-hover: #313131;;
$gris-oscuro: #202020;;
$negro: #000000;;


/* SOMBRA */;

$sombra-1: 0px 8px 8px 0px rgba(0,0,0,0.2)


/* TRANSICIÓN */;

$transicion-lenta: all .5s ease;;
$transicion-rapida: all .2s ease;;